body {
  margin: 0;
  background-color: black;

}
.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.image {
  object-fit: cover;
  position: absolute;
  transform-origin: 0 50%;
}

.fg {
  z-index: 2;
  transform: translateZ(3px) scale(0.625);
}

.bg {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateZ(5px) scale(0.375);
}

.title-section {
  justify-content: center;
  align-content: center;
  align-items: center;
}
.title-section .fg {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  align-content: center;
}

.title-section .smoke {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateZ(5px) scale(0.375);
}

.title-section .title{
  position: absolute;
  left: 50%;
  top: 10vh;
  z-index: 1;
  width: 90vw;
  text-align: center;
  transform: translateX(-50%);
}

.title-section .button {
  z-index: 3;
}

.info-section-1 .fg {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
}

.info-section-1 .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0%;
  margin-top: 0vh;
  z-index: 1;
  text-align: right;
  float:right;
  margin-right: 5%;
}

.info-section-1 {
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding-right: 5%;
}
.section .text .desc {
  width: 40vw;
}

.info-section-1 .button {
  z-index: 3;
  margin-right: 5%;
}

.info-section-2 {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
}

.info-section-2 .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 0%;
  margin-top: 0vh;
  z-index: 1;
  text-align: left;
  float: left;
  margin-right: 5%;
}

.info-section-2 .fg {
  top: 50%;
  right: 100px;
  width: 400px;
  height: 250px;
  align-content: center;
  transform: translateY(-50%);
}
